.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100vh = 100% de la hauteur de la fenêtre de ton navigateur */
}

.content {
  flex: 1; /* Le secret est ici : ça force le contenu à s'étirer pour remplir l'espace vide */
  display: flex;
  flex-direction: column;
}