/* On force le html, le body et la racine React à prendre 100% de la hauteur */
html, #root {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: #f4f6f8; /* Un gris très clair, classique pour les sites web */
  font-family: Arial, Helvetica, sans-serif;
}

/* Enlève les comportements de marge par défaut sur certains éléments */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000B4D; /* Le bleu UGC en fond global */
}